#wrapper{
	
	color: #2e3192;
}

#header{
	height: 62px;
	position: relative;
}
#menu ul li{
	list-style: none;
	display: inline-block;
	padding: 5px 10px;
	
}
#menu ul li a{
	color: #2e3192;
	font-weight: 600;
}

#menu ul li a:hover{
	text-decoration: none;
	opacity: 0.6;
}
#logo{
	float: left;
}

#logo img{
	padding-left: 50px;
}

#menu{
	float: right;
	text-align: right;
	padding-right: 50px;
}
#menu ul{
	margin-bottom: 0px;
}

#slogan p{
	color: #2e3192;
	text-align: center;
}

#co-living {
	padding-top: 20px;
}

#co-living .my-card{
	color: #2e3192;
	text-align: center;
}
#co-living .my-card p{
	padding-left: 10px;
	padding-right: 10px;
}

#co-living .my-card h4{
	text-transform: uppercase;
	padding: 20px 0px;
	margin-bottom: 0px
}

.img-align{
	display: flex;
	justify-content: center;
}


.title{
	text-align: center;
	padding: 50px 0px 30px 0px;
}

#whofor p{
	text-align: justify;
	padding: 20px;
	background-color: #f1f2f2;
}

#membership img{
	width: 80%;
}

#footer img{
	width: 70%;
}
#background {
    
}

/*nav*/
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: #fff;
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}

#menu2{
	background-color: #2e3192;
}

#menu2 ul li a{
	color: #fff;
}

/* responsive */
@media only screen and (min-width: 1200px) {
	#slogan p{
	font-size: 32px;
	}

	.format{
		max-width: 1170px;
		margin: auto;
	}
	#footer{
		padding: 50px 0px;
	}
	#footer img{
		margin-left: 40px;
	}
	#slogan img{
		height: 150px;
		width: auto;
	}

	#whofor img{
		height: 375px;
	}
	.member-row{
		padding: 20px 40px;
	}

#co-living .my-card img{
	width: 70%;
	height: 165px;
}
	.style2{
		padding-left: 0px;
	}
	#menu2{
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	#slogan p{
	font-size: 28px;
	}
	.format{
		max-width: 992px;
		margin: auto;
	}
	#footer{
		padding: 40px 0px;
	}
	#footer img{
		margin-left: 30px;
	}
	#slogan img{
		height: 130px;
		width: auto;
	}

	#whofor img{
		height: 425px;
	}
.member-row{
	padding: 10px 30px;
}
.style2{
		padding-left: 0px;
	}
#co-living .my-card img{
	width: 70%;
	height: 165px;
}
	#menu2{
		display: none;
	}

	#co-living img{
		width: 20%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	#slogan p{
	font-size: 24px;
	line-height: 35px;
	}
	#slogan >div{
		padding: 30px 0px !important;
	}
		.format{
		max-width: 768px;
		margin: auto;
		line-height: 20px;
	}
	#footer{
		padding: 30px 0px;
	}
	#slogan img{
		height: 80px;
		width: auto;
	}

	#whofor img{
		height: 425px;
	}
	.member-row{
		padding: 10px 30px;
	}
	#co-living{
		padding-top: 0px;
	}
	#co-living .my-card p{
	padding-left: 5px;
	padding-right: 5px;
	}
	#co-living .my-card img{
		width: 70%;
		height: 165px;
	}
	.style2{
		padding-left: 0px;
	}
	#menu{
		display: none;
	}
	#logo{
		display: none;
	}
	#footer img{
		margin-left: 30px;
	}

	#co-living img{
		width: 20%;
	}
}

@media (min-width: 576px) and (max-width: 767.98px){
	#slogan p{
	font-size: 20px;
	}
		.format{
		max-width: 576px;
		margin: auto;
	}
	#footer{
		padding: 30px 0px;
	}
	#slogan img{
		height: 80px;
		width: auto;
	}

	#whofor img{
		height: 425px;
	}
	.member-row{
		padding: 0px 20px;
	}
	#co-living{
		padding-top: 0px;
	}
	#co-living .my-card p{
	padding-left: 5px;
	padding-right: 5px;
	}
	.styling{
		margin-top: -60px;
	}
	#co-living .my-card img{
		width: 70%;
		height: 255px;
		padding-top: 20px;
	}
	#membership img{
		width: 30px;
	}
	.member-row .row{
		padding-top: 10px;
	}
	.member-row .align{
		display: flex;
		align-items: center;
	}
	#footer img{
		height: 100px;
		width: auto;
	}
	#footer >.format >.row >div{
		display: flex;
		justify-content: center;
	}
	#footer p{
		text-align: center;padding-top: 30px;
	}
	#menu{
		display: none;
	}
	#logo{
		display: none;
	}
	#co-living img{
		width: 20%;
	}
}

@media (max-width: 575.98px){
	#slogan p{
	font-size: 18px;
	padding: 0px 10px;
	}
		.format{
		max-width: 320px;
		margin: auto;
	}
	#footer{
		padding: 30px 0px;
	}
	#slogan img{
		height: 80px;
		width: auto;
	}

	#whofor img{
		height: 325px;
	}
	.member-row{
		padding: 0px 10px;
	}
	#co-living{
		padding-top: 0px;
	}
	#co-living .my-card p{
	padding-left: 5px;
	padding-right: 5px;
	}
	.styling{
		margin-top: -80px;
	}
	#co-living .my-card img{
		width: 70%;
		height: 200px;
		padding-top: 20px;
	}
	#membership img{
		width: 30px;
	}
	.member-row .row{
		padding-top: 10px;
	}
	.member-row .align{
		display: flex;
		align-items: center;
	}
	#footer img{
		height: 90px;
		width: auto;
	}
	#footer >.format >.row >div{
		display: flex;
		justify-content: center;
	}
	#footer p{
		text-align: center;
		padding: 30px 10px 0px 10px;
	}
	#co-living >div >img{
		bottom: -30px !important;
	}
	.style3{
		padding-top: 30px !important;
	}
	.title{
		font-size: 24px;
	}
	#menu{
		display: none;
	}
	#logo{
		display: none;
	}
	#slogan>div{
		padding: 20px 0px !important;
	}
	#co-living img{
		width: 25%;
	}
}
